@font-face {
  font-family: "bebas neue";
  src: url(../fonts/BebasNeue-Regular.woff) format(woff);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  padding: 2px 28px;
  align-items: center;
  font-family: "bebas neue", "arial", sans-serif;
  font-size: 20px;
}
.navLogo {
  display: flex;
  align-items: center;
}
.navLogo img {
  width: 50px;
  margin-right: 8px;
}
.navbar .navMenu a {
  margin-left: 24px;
  text-decoration: none;
  color: black !important;
}
.navMenu a:hover {
  background-color: rgba(209, 244, 250, 0.8);
  padding: 0 2rem;
  border-radius: 10px;
}
h1 {
  font-size: 80px;
  letter-spacing: 2px;
  font-family: "bebas neue", "arial", sans-serif;
}
.container {
  width: 100%;
  height: 750px;
  background: url(../img/bike_homepage.jpg);
  background-size: cover;
  background-position: center -50px;
  position: relative;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(209, 244, 250, 0.8);
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  padding: 4rem;
}
.button {
  background-color: black;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 15px;
  width: fit-content;
  border: 2px solid white;
}
.button a {
  color: white;
  text-decoration: none;
}
.button:hover {
  transform: translateY(-0.25em);
}
.lightbox {
  width: 100%;
  height: 400px;
  background-color: black;
}
.lightbox {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.thumbnail {
  max-width: 200px;
  border-radius: 10px;
}
.imgTitle {
  opacity: 0;
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-transform: uppercase;
  font-family: "bebas neue", "arial", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
}
.column {
  display: flex;
  margin: 0 2rem;
  position: relative;
}
.lightbox > div:nth-child(n) > a:hover .imgTitle {
  opacity: 1;
}
#myModal > div > div:nth-child(n) > img {
  padding-top: 40px;
  max-width: 900px;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.modalContent {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 900px;
}
.close {
  color: white;
  position: absolute;
  top: 20px;
  right: 60px;
  font-size: 37px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: rgba(209, 244, 250, 1);
  text-decoration: none;
  cursor: pointer;
}
/* hide slides by default */
.mySlides {
  display: none;
}
#prev,
#next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-shadow: 1px 1px black;
}
#next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Number text (1/3 etc) */
.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
